@font-face {
  font-family: "Tangerine";
  src:
    url("../assets/fonts/Tangerine.woff2") format("woff2"),
    url("../assets/fonts/Tangerine.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.form-view {
  margin: 0 auto;
  max-width: 2080px;
  display: grid;
  padding: min(5%, 36px);
  grid-template-columns: 1fr 230mm;
  gap: min(36px, 5%);
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  font-family: "Tangerine", sans-serif;
  font-size: 3rem;
  padding: 16px;
}

main {
  padding: 32px;
}

.container {
  margin: 0 auto;
  width: clamp(320px, 100%, 230mm);
  position: relative;
}

.a4-container {
  background-color: #ffffff;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 10mm;
  width: 230mm;
  height: 80vh;
  --shadow: #d8d6d6;
  box-shadow:
    5px 5px 5px var(--shadow),
    -5px -5px 5px var(--shadow);
}

.options {
  margin: 32px;
  display: flex;
  gap: 64px;
  justify-content: center;
}

.options button {
  font-size: 1.7rem;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  font-weight: 600;
  padding: 6px 10px;
  background-color: rgb(56, 146, 206);
  color: #f9faf8;
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 5px 5px #d8d6d6;
}

.options button:hover {
  transform: scale(1.1);
}

.submit-view .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-view .a4-container {
  position: static;
  height: auto;
}

@media (max-width: 1440px) {
  .form-view {
    display: block;
  }

  .container {
    margin-top: 24px;
  }

  .a4-container {
    margin: 0 auto;
    position: static;
  }

  form {
    width: clamp(320px, 100%, 1280px);
  }
}

@media (max-width: 950px) {
  .form-view .container {
    display: none;
  }

  .submit-view {
    padding: 0;
  }

  .options {
    flex-wrap: wrap;
  }

  .submit-view .container {
     overflow: auto;
  }
}

@media (max-width: 500px) {
  .form-view form {
    padding: 0;
  }

  main.form-view {
    padding: 4px;
  }

  form .date,
  form .language-skill,
  form .name,
  form .contact {
    display: flex;
    flex-direction: column;
  }
}
