.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

header {
  background-color: #242424;
  display: flex;
  justify-content: center;
}

header h1 {
  padding: 16px;
  color: white;
}

main {
  padding: 32px;
}
