@font-face {
  font-family: "Tangerine";
  src:
    url("../assets/fonts/Tangerine.woff2") format("woff2"),
    url("../assets/fonts/Tangerine.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.form-view {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

header {
  display: flex;
  justify-content: center;
}

header h1 {
  font-family: "Tangerine", sans-serif;
  font-size: 3rem;
  padding: 16px;
}

main {
  padding: 32px;
}

.container {
  position: relative;
}

.a4-container {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 10mm;
  width: 230mm;
  height: 80vh;
  --shadow: #d8d6d6;
  box-shadow:
    5px 5px 5px var(--shadow),
    -5px -5px 5px var(--shadow);
}

.options {
  margin: 32px;
  display: flex;
  gap: 64px;
  justify-content: center;
}

.options button {
  font-size: 1.7rem;
  display: flex;
  gap: 8px;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  font-weight: 600;
  padding: 6px 10px;
  background-color: rgb(56, 146, 206);
  color: #f9faf8;
  transition: transform 0.5s ease-in-out;
  box-shadow: 5px 5px 5px #d8d6d6;
}

.options button:hover {
  transform: scale(1.1);
}

.submit-view .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-view .a4-container {
  position: static;
  height: auto;
}
