.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

header {
  background-color: #242424;
  display: flex;
  justify-content: center;
}

header h1 {
  padding: 16px;
  color: white;
}

main {
  padding: 32px;
}

.container {
  position: relative;
}

.a4-container {
  position: fixed;
  display:  flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
  padding: 10mm;
  width: 230mm;
  height: 80vh;
  --shadow: #d8d6d6;
  box-shadow:
    5px 5px 5px var(--shadow),
    -5px -5px 5px var(--shadow);
}
