form {
  --shadow: #d8d6d6;
  --font-color: #343a40;
  --grey: rgb(161, 161, 161);
  --white: #f9faf8;
  --blue: rgb(56, 146, 206);
  --red: rgb(211, 99, 99);
  --box-shadow: 5px 5px 5px var(--shadow), -5px -5px 5px var(--shadow);
  margin: 0 auto;
  width: clamp(320px, 100%, 230mm);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form section {
  box-shadow: var(--box-shadow);
  border-radius: 30px;
  padding: 16px;
}

form h1,
form h2,
form h3,
form h4 {
  color: var(--font-color);
}

form input,
form select {
  padding: 4px 8px;
  color: var(--font-color);
  font-size: clamp(0.8rem, 1vw + 1rem, 1.5rem);
  border: 2px solid var(--shadow);
  border-radius: 10px;
  background-color: var(--white);
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: var(--blue);
}

form textarea {
  color: var(--font-color);
  border: 2px solid var(--shadow);
  border-radius: 10px;
  padding: 8px;
  height: 200px;
  font-size: clamp(0.8rem, 1vw + 1rem, 1.2rem);
  resize: none;
  background-color: var(--white);
}

form label,
.input-color span {
  margin-left: 8px;
  font-size: 1rem;
  font-weight: 900;
  color: var(--font-color);
}

form button {
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  font-weight: 600;
  font-size: clamp(0.8rem, 1vw + 1rem, 1.3rem);
  padding: 6px 10px;
}

.submit {
  padding: 12px;
}

.submit-btn,
.add-btn {
  background-color: var(--blue);
  color: var(--white);
  margin-right: 16px;
}

.add-btn {
  display: flex;
  gap: 8px;
  transition: transform 0.5s ease-in-out;
}

.add-btn:hover {
  transform: scale(1.1);
}

.general-information {
  gap: 16px;
}

.first-name,
.last-name,
.phone,
.email {
  display: flex;
  flex-direction: column;
}

.input,
.input-color {
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.date,
.language-skill,
.name,
.contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.header {
  padding: 16px 12px;
  display: grid;
  grid-template-columns: 1fr 48px;
  align-items: center;
  justify-content: space-between;
}

.header h1 {
  font-size: clamp(1rem, 1vw + 1rem, 2rem);
}

.header button {
  border-radius: 50%;
  background-color: var(--blue);
}

.form-experience-list,
.form-language-list,
.form-skills-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.custom-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.experience,
.language-card,
.skill-card {
  border: 2px solid var(--grey);
  border-radius: 30px;
  padding: 16px;
}

.remove,
.add {
  padding: 12px;
}

.remove-btn,
.reset-btn {
  background-color: var(--red);
  color: var(--white);
}

.experience textarea {
  padding: 8px;
  height: 200px;
  font-size: 1.2rem;
  resize: none;
}

.language-card h2 {
  padding: 12px;
}

.cv-color {
  font-size: 2rem;
  opacity: 0;
  cursor: pointer;
}

.color-ui {
  border: 2px solid var(--shadow);
  border-radius: 10px;
  cursor: pointer;
}

.input-color {
  gap: 4px;
}

.input select {
  cursor: pointer;
}