form {
  margin: 16px auto;
  padding: clamp(12px, 5%, 36px);
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

form input {
  font-size: 1.5rem
}

form label {
  font-size: 1rem;
}