.general-information {
  display: flex;
  flex-direction: column;
  gap: clamp(16px, 8%, 42px);
  padding: 12px;
}

.name,
.contact {
  display: flex;
  gap: clamp(16px, 8%, 42px);
  padding: 12px;
}

.first-name,
.last-name,
.phone,
.email {
  display: flex;
  flex-direction: column;
}
