.page .resume {
  box-sizing: content-box;
}

.resume {
  margin: 16px auto;
  width: 210mm;
  height: 297mm;
  border: 2px solid black;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgb(56, 146, 206);
  width: 210mm;
  height: 50mm;
}

.resume p {
  font-size: 2rem;
}

.resume-header {
  background-color: white;
  width: 210mm;
  padding: 2mm;
}

.resume-header h1 {
  font-size: 15pt;
  font-weight: 400;
}

.resume-header h2 {
  font-size: 23pt;
}
