.page .resume {
  box-sizing: content-box;
  --big-border: 2mm solid rgb(56, 146, 206);
  --small-border: 1mm solid rgb(56, 146, 206);
}

.resume {
  margin: 16px auto;
  width: 210mm;
  height: 297mm;
  border: 2px solid black;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: var(--big-border);
  border-bottom: var(--big-border);
  padding: 2mm;
}

.resume-header h1 {
  font-size: 15pt;
  font-weight: 400;
}

.resume-header h2 {
  font-size: 23pt;
}

.resume-contact {
  padding: 2mm;
  font-size: 15pt;
  font-weight: 500;
  display: flex;
  gap: 10mm;
  justify-content: center;
  border-bottom: var(--big-border);
}

.resume-content {
  display: grid;
  grid-template-columns: 25% 75%;
}

.aside {
  padding: 2mm;
  border-right: var(--small-border);
}

/* .resume-section1,
.resume-section2 {
  border-bottom: var(--small-border);
} */

.resume-section1 h1,
.resume-section2 h1 {
  font-size: 20pt;
  padding: 2mm 10mm;
}

.section1-list,
.section2-list {
  padding: 0 10mm 2mm;
  list-style-type: none;
}

.section1-list li,
.section2-list li {
  padding-bottom: 3mm;
}
