.resume {
  --big-border: 2mm solid;
  --small-border: 1mm solid; 
  box-sizing: content-box;
  min-width: 100%;
  height: 100%;
}

.resume ul {
  list-style-type: none;
}

.resume li {
  padding: 1.5mm;
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: var(--big-border);
  border-bottom: var(--big-border);
  padding: 2mm;
  overflow: hidden;
}

.resume-main-title {
  font-size: 15pt;
  font-weight: 400;
}

.resume-name h1 {
  font-size: 23pt;
}

.resume-contact {
  padding: 2mm;
  font-size: 15pt;
  font-weight: 500;
  display: flex;
  gap: 2mm;
  justify-content: space-evenly;
  border-bottom: var(--big-border);
}

.resume-phone,
.resume-email {
  display: flex;
  gap: 2mm;
}

.resume-content {
  display: grid;
  grid-template-columns: 35% 65%;
}

.main {
  overflow: hidden;
}

.main h2 {
  font-size: 16pt;
}

.main h1,
.aside h1 {
  font-size: 18pt;
}

.aside {
  padding: 2mm;
  border-right: var(--small-border);
  height: 100%;
  overflow: hidden;
}

.resume-languages li {
  font-size: 15pt;
  font-weight: 500;
}

.aside ul {
  padding-left: 0;
}

.resume-introduction p {
  padding: 1.5mm;
}

.resume-skills {
  margin: 3mm 0;
}

.resume-skills h3 {
  font-size: 13pt;
}

.resume-jobs h1,
.resume-education h1 {
  padding: 2mm 10mm;
}

.jobs-list,
.educaation-list {
  padding: 0 10mm 2mm;
}

.jobs-list li,
.education-list li {
  padding-bottom: 3mm;
}
